th{
    background-color: rgb(208, 48, 48);
}

Tr:hover{
    background-color: rgb(57, 183, 183);

}
td{
font-size: 20px;
font-family:monospace;
  font-weight:bolder;

}

table{
    background-image: url(https://i.ibb.co/ZxQq9FQ/login-form-bg.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    color: white;
    height:auto;
}