.navbar{
    background: #e3e3e3;
}
.navbar-nav{
    font-size:20px;
}
.navbar .navbar-nav .nav-link{
    padding-right: 5px;
}
.navbar .navbar-nav .nav-link:hover {
    background-color: #ee4842;
    color: #fff;
    border-radius: 20%; 
    
  }

  .navbar-toggler{
    background-color: red;
  }
  .navbar-toggler-icon{
      background-color: rgb(44, 43, 43);
      border-radius: 30%;
  }
