#footer {
    background-color: #653ef5;
    /* background-color: #6346d7; */
    height: 325px;
    margin-top: 50px;
    padding-top: 5px;

}

.left {
    text-align: left;
    float: left;
    margin-left: 3rem;
}

.right {
    float: right;
    text-align: right;
    margin-right: 3rem;
}

.centered {
    float: center;
    text-align: center;
}

.icon {
    width: 32px;

}

a:hover {
    text-decoration: underline;
    color:inherit;
}

a {
    color: white;
    font-size: 16px;
    text-decoration: none;


}