.form-container {
    width: 700px;
    margin: 0 auto;
    margin-top: 35px;
    border: 1px solid #d43838;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-title {
    font-size: 35px;
    font-weight: 400;
    color: #44f72d;
}

.input-group {
    margin-bottom: 20px;

}

.input-group label {
    display: block;
    margin-right: 5px;
}

.input-group input {
    width: 400px;
    height: 40px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
    padding: 20px;
}

input:focus {
    outline: none !important;
    border-color: #44f72d;
    box-shadow: 0 0 10px rgba(55, 255, 71, 0.7);
}

.form-submit {
    display: block;
    width: 100px;
    height: 50px;
    color: white;
    margin: 0 auto;
    background-color: #ed4b4b;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;

}

.form-submit:hover {
    background-color: #44f72d;
}

.form-link {
    color: #44f72d;
    text-decoration: none;
}

.form-link:hover {
    color: #d43838;
}

hr{
    border: 3px solid red;
}

.hr-area {
    position: relative;
    margin-top: 40px;
}

.hr-area .or {
    position: absolute;
    top: -28px;
    left: 45%;
    font-size: 20px;
    padding: 0 12px;

}

.error{
    color: white;
    font-size: bold;
    background-color: rgba(255, 62, 62, 0.929);
    border-radius: 6px;
    text-align: center;
}

/* RESPONSIVE */

@media (max-width: 62em){


.form-container {
    width: 500px;
    margin: 0 auto 0 8px;
    margin-top: 35px;
    border:none;
}

.form-title {
    text-align: center;

}

.form-submit {
   width: 76px;
   height: 40px;
}

#footer{
    display: block;

}
.right{
    display:none;
}

.left{
    margin-left:1rem;
}

.copyright{
    display:none;
   
}

}